@import "http://fonts.googleapis.com/css?family=Oxygen";

@import "http://fonts.googleapis.com/css?family=Lobster";

@import "http://fonts.googleapis.com/css?family=Pacifico";

html, body {
  margin: 0;
  height: 100%;
  padding: 0;
}

#app {
  height: 100%;
}

body {
  line-height: 1.6em;
  font-size: 16px;
  font-family: Oxygen, Helvetica, sans-serif;
}

.row {
  padding: 10px 0;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.content {
  padding: 10px 10px 200px;
}

.app-loader {
  margin: 250px auto;
  width: 64px;
}

h1 {
  margin: 60px 0 40px;
}

h2, h3 {
  margin: 60px 0 35px;
  font-weight: bold;
}

h4, h5, h6 {
  margin-bottom: 30px;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  color: #1a353f;
}

a {
  color: #539fb8;
}

a:hover, a:focus {
  text-decoration: none;
  color: #9bc7d6;
}

p {
  margin: 10px 0 20px;
}

pre {
  background: #fdf8f7;
  margin: 20px 0;
  padding: 15px 25px;
  border: 0;
  border-radius: 0;
}

code {
  background: #fdf8f7;
  color: #d86546;
}

.btn {
  border-radius: 0;
  border: 1px solid #aaa;
  padding: 10%;
  background: #fff;
  width: 100%;
  font-size: 1em;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  background: #eee;
}

.btn-publish {
  border-color: #de7d63;
  border: 1px solid;
  background: #e18870;
  color: #ffffff;
}

.btn-publish:hover {
  border-color: #d86546;
  background: #da6c4e;
  color: #ffffff;
}

.btn-checkbox.checked {
  border-color: #90c1d1;
  color: #ffffff;
  background: #9bc7d6;
}

.form-hidden {
  display: none;
}

.header-navbar {
  border-radius: 0;
  padding: 10px;
  background: #333;
  color: #ddd;
}

.navbar-brand {
  margin: 25px 0;
}

.navbar-brand a {
  color: #77b3c7;
  font-size: 3em;
  font-family: Pacifico, Lobster, Georgia;
}

.navbar-brand a:hover {
  color: #539fb8;
  text-decoration: none;
}

.header-links ul {
  margin: 8% 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.1em;
}

.header-links li {
  margin: 0 1em;
  display: inline-block;
}

.header-links a {
  color: #aaa;
}

.header-links a:hover {
  text-decoration: none;
  color: #eee;
}

.header-links a.active {
  color: #9bc7d6;
}

.header-links a.active:hover {
  color: #bfdbe5;
}

footer.page-footer {
  left: 0;
  height: 124px;
  position: absolute;
  padding: 30px;
  background: #77b3c7;
  width: 100%;
  margin-top: 100px;
  bottom: 0;
  color: #030709;
}

footer.page-footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer.page-footer ul li {
  margin: 0 20px 0 0;
  display: inline;
  line-height: 64px;
}

footer.page-footer div {
  text-align: center;
}

footer.page-footer a {
  color: #030709;
}

footer.page-footer a:hover {
  text-decoration: none;
  color: #306475;
}

span.footer-qrest img {
  opacity: 0.2;
}

.footer-img-link {
  opacity: 0.8;
}

.footer-img-link:hover {
  opacity: 0.6;
}

.panel-new-engraving {
  margin: 15px 0;
}

form.new-engraving #ace-new-engraving, form.new-engraving textarea {
  margin: 7px 0;
  height: 400px;
}

form.new-engraving textarea {
  border-radius: 0;
  background: #2d2d2d;
  font-size: 0.8em;
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, "source-code-pro", "Courier New", monospace;
  color: #ddd;
  resize: none;
  height: 414px;
}

.engraving-container {
  margin: 50px 0;
}

.engraving-container header {
  margin: 0 0 30px;
  padding: 10px 20px;
  color: #441a0e;
  background: #f7e0d9;
}

.engraving-container header a {
  color: #441a0e;
}

.engraving-container header a:hover {
  color: #555;
}

.engraving-container .engraving-body {
  margin: 30px 0;
}

.engraving-container .engraving-control-panel {
  margin: 20px 0;
}

.engraving-container .engraving-control-panel a {
  border-bottom: 1px dotted;
  text-decoration: dotted;
}

.engraving-container .glyphicon-remove {
  color: #666;
}

.engraving-container .glyphicon-remove:hover {
  cursor: pointer;
  color: #999;
}

.engraving-code {
  background: #2d2d2d;
  padding: 10px 20px 10px 0;
/*  display: none;
*/}

.engraving-code pre {
  background: #2d2d2d;
  color: #ddd;
}

.engraving-share {
  background: #e3f0f4;
  padding: 10px 20px;
  /*display: none;*/
}

.loader-container {
  text-align: center;
  margin: 15px auto;
  padding-top: 40px;
}

.engraving-stub {
  height: 414px;
  border: 1px solid #dfdfdf;
  background: url(/img/engraving-stub.png);
  width: 100%;
}

.engraving-stub #overlay {
  height: inherit;
  border-radius: inherit;
  position: relative;
  opacity: 0.9;
  background: #fff;
  width: inherit;
  vertical-align: middle;
}

.engraving-stub #overlay #overlay-text {
  width: 60%;
  right: 0;
  top: 0;
  height: 50%;
  margin: auto;
  position: absolute;
  bottom: 0;
  text-shadow: 1px 1px 10px rgba(200, 200, 200, 0.2);
  color: #333;
  left: 0;
}

ul.error-list {
  padding: 15px 25px;
  list-style-type: none;
}

ul.error-list li {
  font-size: 0.8em;
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, "source-code-pro", "Courier New", monospace;
}

.pagination {
  padding: 0 32px;
  width: 100%;
  font-size: 0.9em;
}

.next-page {
  float: right;
}

@media (max-width: 992px) {

  body {
    font-size: 2em;
  }

  .navbar-brand {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
  }



  .header-links ul {
    text-align: center;
  }

  footer.page-footer {
    height: 252px;
  }

  .content {
    padding-bottom: 330px;
  }

}
